/**
 * @file layout
 */
#page {
  margin: 0 auto;
  max-width: 1150px;
  min-width: 430px;
  position: relative; }

.default-padding {
  padding: 20px 13.04348%;
  width: 100%; }
  #header .default-padding {
    padding: 20px; }
  #navigation-primary .default-padding {
    padding: 10px 20px; }

.padding-tb {
  padding: 20px 0; }

.padding-all {
  padding: 20px; }

.col-2-grid-outer .field-item {
  margin: 10px 0;
  width: 48.23529%; }
  .col-2-grid-outer .field-item:nth-child(odd) {
    clear: left;
    float: left; }
  .col-2-grid-outer .field-item:nth-child(even) {
    clear: right;
    float: right; }
