/**
 * @file module definitions
 */
.zebra:nth-child(odd) {
  background-color: #fbf6f2; }
  .zebra:nth-child(odd).reverse-zebra {
    background-color: white; }
.zebra:nth-child(even) {
  background-color: white; }
  .zebra:nth-child(even).reverse-zebra {
    background-color: #fbf6f2; }

/**
 * Buttons
 */
a.button,
.button {
  background-color: #fff;
  border-width: 4px;
  border-style: solid;
  border-color: #303030;
  border-radius: 4px;
  border-width: 0 2px 3px 0;
  color: #303030;
  display: inline-block;
  font-size: 0.833em;
  padding: 0.6em 26px;
  text-transform: uppercase; }
  a.button:hover,
  .button:hover {
    border-width: 1px 1px 2px 1px; }
  a.button:active,
  .button:active {
    border-width: 3px 0px 0px 2px; }
  a.button.center-blue-button,
  .button.center-blue-button {
    background-color: #0035ad;
    color: white;
    margin: 20px auto; }

/**
 * Inline images
 */
.content-image {
  clear: left;
  padding: 0 20px 5px 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  .caption-inner .content-image {
    padding-right: 0; }

.caption .caption-inner {
  background-color: #555555;
  border: none;
  color: white;
  font-weight: 100;
  padding: 0 0 6px; }

/* Rollover edit links for blocks. */
.block {
  position: relative; }
  .block .edit {
    display: none;
    position: absolute;
    right: -20px;
    top: -5px;
    z-index: 40;
    padding: 3px 8px 0;
    font-size: 10px;
    line-height: 16px;
    background-color: white;
    border: 1px solid #555555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 3px #555555;
    -webkit-box-shadow: 0 1px 3px #555555;
    box-shadow: 0 1px 3px #555555; }
    .block .edit a {
      display: block;
      border: 0;
      padding: 0;
      margin: 0; }
  .block :hover .edit {
    display: block; }

/**
 * Tri-color
 * Since there's no way to do this with CSS, we just make them all blue while
 * we wait for the JS to recolor them
 */
.tri-color-outer .tri-color {
  color: #0035ad; }

/**
 * Admin
 */
/* Tabs */
ul.tabs {
  border: 0;
  position: absolute; }
  ul.tabs li a {
    background-color: transparent;
    border: 0;
    padding-bottom: 4px; }
  ul.tabs li.active a {
    background-color: #303030;
    border: 0;
    color: white; }

/**
 * Vertical center
 */
.vc-outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%; }

.vc-inner {
  display: table-cell;
  vertical-align: middle; }

/**
 * Jump menu region
 */
.region-jump-menu h3 {
  background-color: #303030;
  color: white;
  cursor: pointer;
  line-height: 1em;
  margin: 0;
  position: absolute;
  right: 0px;
  top: -23px;
  border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease; }
  .region-jump-menu h3 span {
    display: block;
    position: relative;
    right: 2px;
    top: 3px;
    transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease; }
  .region-jump-menu h3.rotate-0 {
    border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px; }
    .region-jump-menu h3.rotate-0 span {
      right: 0px;
      top: 0px;
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg); }
.region-jump-menu ul {
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px; }
  .region-jump-menu ul li a {
    display: block;
    padding: 6px 20px; }
    .region-jump-menu ul li a:hover {
      background-color: #0035ad; }
    .region-jump-menu ul li a:first-child {
      border-top-left-radius: 3px;
      -moz-border-radius-topleft: 3px;
      -webkit-border-top-left-radius: 3px; }
    .region-jump-menu ul li a:last-child {
      border-bottom-left-radius: 3px;
      -moz-border-radius-bottomleft: 3px;
      -webkit-border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      -moz-border-radius-bottomright: 3px;
      -webkit-border-bottom-right-radius: 3px; }
  .region-jump-menu ul.jm-open {
    display: block; }
  .region-jump-menu ul.jm-close {
    display: none; }

/**
 * Video Players
 */
.field-name-field-video {
  margin: 0 auto;
  max-width: 850px;
  overflow: hidden; }
  .field-name-field-video .field-item {
    position: relative;
    padding-bottom: 56.25%;
    /* intrinsic 16:9 */
    height: 0;
    margin: 0 auto; }
    .field-name-field-video .field-item iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .node-teaser .content .field-name-field-video .field-item {
    padding-bottom: 60%;
    /* Teaser lists change to 5:3 to match "small" image derivative */ }
    .node-teaser .content .field-name-field-video .field-item a {
      display: block;
      max-height: 150px;
      max-width: 250px;
      overflow: hidden; }
