/**
 * @file state rules
 */
/**
 * Main menu
 */
@media (max-width: 1149px) and (min-width: 768px) {
  #navigation-primary .navigation-primary-inner ul.main-menu {
    display: block;
    margin-top: 25px;
    z-index: 5; }
    #navigation-primary .navigation-primary-inner ul.main-menu li a {
      font-size: 0.722em;
      padding: 9px 2.4%; } }
@media (max-width: 767px) {
  #navigation-primary .navigation-primary-inner #logo-container {
    width: 298px; } }
@media (max-width: 1149px) and (min-width: 950px) {
  #navigation-primary .navigation-primary-inner ul.main-menu li a {
    font-size: 11px; } }

/**
 * Secondary menu
 */
@media (max-width: 767px) {
  #navigation-secondary ul.main-menu li {
    clear: both;
    display: block;
    padding: 0; } }

/**
 * Feature Sliders
 */
@media (max-width: 700px) {
  .bean-feature .group-slide-tab .field-name-field-slide-title {
    font-size: 0.722em;
    line-height: 13px; } }

/**
 * Wanderers
 */
@media (max-width: 1020px) {
  .wanderer-outer .wanderer {
    top: 20%;
    width: 60%; } }
@media (max-width: 900px) {
  .wanderer-outer .wanderer {
    top: 10%;
    width: 80%; } }
@media (max-width: 720px) {
  .wanderer-outer .wanderer {
    font-size: 0.722em;
    line-height: 1.125em;
    top: 5%;
    width: 90%; } }

/**
 * BI & AP Headers
 */
@media (max-width: 720px) {
  .node-program-or-initiative .wanderer-outer .wanderer {
    top: 15%; }
    .node-program-or-initiative .wanderer-outer .wanderer .margin-bottom {
      margin-bottom: 10px; }
    .node-program-or-initiative .wanderer-outer .wanderer .padding-all {
      padding: 10px; } }

/**
 * 3 Column
 */
@media (max-width: 720px) {
  .divide-3 .divide {
    clear: both;
    float: none;
    padding-top: 20px;
    width: 100%; } }
