/**
 * @file theme rules
 */
/**
 * Icon fonts as fields
 */
.field-type-fonticon-field {
  background-color: white;
  font-size: 2.6em;
  height: 1.8em;
  line-height: 1.8em;
  margin: auto;
  text-align: center;
  width: 1.8em;
  -webkit-border-radius: 2.6em;
  -moz-border-radius: 2.6em;
  border-radius: 2.6em; }

.field-name-field-header-icon {
  left: 50%;
  margin-left: -0.9em;
  position: absolute;
  top: 0px;
  top: -0.9em; }

.header-with-icon {
  margin-top: 36px;
  position: relative; }
  .header-with-icon .field-name-field-dek {
    margin-top: 1.8em; }

/* Jump page context */
.field-name-field-section-list-icon {
  margin-bottom: -0.9em; }
  .field-name-field-section-list-icon .field-item {
    background-color: white;
    position: relative;
    -webkit-border-radius: 2.6em;
    -moz-border-radius: 2.6em;
    border-radius: 2.6em; }

/**
 * Top Links
 */
ul.menu.sf-menu-top-links li {
  padding: 0 8px; }
  ul.menu.sf-menu-top-links li a.active {
    color: #d0d0d0; }
  ul.menu.sf-menu-top-links li.menuparent {
    cursor: pointer; }
ul.menu.sf-menu-top-links ul {
  padding: 0 0 8px;
  background-color: #222222; }
  ul.menu.sf-menu-top-links ul li {
    margin: 4px 0; }

/**
 * Navigation Main
 */
#logo-container {
  display: block;
  float: left;
  font-size: 0;
  height: 100%;
  padding: 10px 0;
  width: 25%; }
  #logo-container img#logo {
    width: 100%; }

/**
 * Primary Links
 */
/* Desktop Menu */
.region-navigation-primary {
  float: left;
  padding-left: 3%;
  width: 75%; }
  .region-navigation-primary ul.sf-menu > li > a {
    line-height: 13px;
    margin: 28px 0;
    padding: 10px 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; }
  .region-navigation-primary ul.sf-menu > li.active-trail > a {
    background-color: #0035ad; }
  .region-navigation-primary ul.sf-menu > li.sfHover > ul {
    background-color: white;
    margin: 57px 0 0 10px;
    width: auto;
    -moz-box-shadow: 0px 1px 10px #333333;
    -webkit-box-shadow: 0px 1px 10px #333333;
    box-shadow: 0px 1px 10px #333333; }
    .region-navigation-primary ul.sf-menu > li.sfHover > ul li a {
      color: #303030;
      display: block;
      font-weight: 600;
      padding: 20px 40px;
      white-space: nowrap; }
      .region-navigation-primary ul.sf-menu > li.sfHover > ul li a:hover {
        background-color: #fbf6f2;
        color: #0035ad; }
      .region-navigation-primary ul.sf-menu > li.sfHover > ul li a span {
        display: block;
        float: left;
        font-size: 30px;
        line-height: 13px;
        margin: 0 5px 0 -30px;
        position: relative;
        text-align: center;
        width: 36px; }
  .region-navigation-primary ul.sf-menu > li.sf-item-4 > ul {
    left: -40%; }

body.i18n-es ul.sf-menu > li.sf-item-4 > ul {
  left: -93px; }

/* Mobile slide in */
.main-drop-down {
  background-color: #303030;
  height: 100%;
  padding-top: 45px;
  position: fixed;
  right: -240px;
  top: 0px;
  width: 240px;
  z-index: 499;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease; }
  .main-drop-down ul ul {
    display: none; }
  .main-drop-down ul li {
    display: block; }
    .main-drop-down ul li.active-trail a {
      background-color: #0035ad; }
    .main-drop-down ul li a {
      clear: both;
      display: block;
      float: none;
      font-weight: 600;
      letter-spacing: 1px;
      margin: 4px 10px;
      padding: 10px 20px; }

#main-drop-down-toggle {
  background-color: #222222;
  display: none;
  font-size: 40px;
  height: 100%;
  padding: 30px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease; }

#page.with-mobile-menu {
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease; }
  #page.with-mobile-menu.mobile-menu-open {
    position: relative; }
    #page.with-mobile-menu.mobile-menu-open .main-drop-down {
      right: 0px; }
    #page.with-mobile-menu.mobile-menu-open #main-drop-down-toggle {
      right: 240px; }

/**
 * Secondary Links
 */
#navigation-secondary .secondary-links {
  min-height: 25px;
  margin: -6px 0 0; }
  #navigation-secondary .secondary-links ul.main-menu {
    display: block; }
    #navigation-secondary .secondary-links ul.main-menu li {
      padding: 0 1.7em; }
      #navigation-secondary .secondary-links ul.main-menu li a {
        color: #222222; }
        #navigation-secondary .secondary-links ul.main-menu li a.active, #navigation-secondary .secondary-links ul.main-menu li a:hover {
          color: #0035ad; }
        #navigation-secondary .secondary-links ul.main-menu li a span {
          display: none; }
      #navigation-secondary .secondary-links ul.main-menu li.active-trail a {
        color: #0035ad; }

/**
 * Bottom Links
 */
#block-menu-menu-bottom-links {
  padding: 20px 40px 40px 40px; }
  #block-menu-menu-bottom-links ul {
    margin: 0; }
    #block-menu-menu-bottom-links ul li {
      display: block;
      float: left;
      margin: 0;
      padding: 0 0.5em;
      width: 25%; }
      #block-menu-menu-bottom-links ul li > ul {
        margin: 14px 0 0;
        padding: 0; }
        #block-menu-menu-bottom-links ul li > ul li {
          display: block;
          float: none;
          list-style-type: none;
          list-style-image: none;
          margin: 0;
          padding: 0;
          width: 100%; }
          #block-menu-menu-bottom-links ul li > ul li a {
            color: #a3a3a3;
            display: block; }
            #block-menu-menu-bottom-links ul li > ul li a:hover {
              color: white; }

/**
 * Generic Menus (inline ULs)
 */
.footer-bottom-inner ul.menu {
  margin: 0; }
  .footer-bottom-inner ul.menu li {
    float: left;
    list-style: none;
    margin: 0 1em; }
    .footer-bottom-inner ul.menu li a {
      display: inline-block;
      margin: 0; }

/** aligned captions **/
div.caption-left {
  float: left;
  margin: 10px 20px 10px 0; }

div.caption-right {
  float: right;
  margin: 10px 0 10px 20px; }

div.caption-center {
  display: block;
  text-align: center; }

div.caption-center .caption-inner {
  display: inline-block; }

/**
 * Features
 */
.bean-feature {
  height: 625px;
  position: relative; }
  .bean-feature .group-slide-tab {
    cursor: pointer;
    left: 0px;
    height: 125px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0px; }
    .bean-feature .group-slide-tab .field-type-fonticon-field {
      background-color: transparent; }
  .bean-feature .slide-1 .field-name-field-slide-icon {
    color: #0035ad; }
  .bean-feature .slide-2 .field-name-field-slide-icon {
    color: #fe9901; }
  .bean-feature .slide-3 .field-name-field-slide-icon {
    color: #8dc63f; }
  .bean-feature .slide-4 .field-name-field-slide-icon {
    color: #00aeef; }
  .bean-feature .active-slide .group-slide-tab {
    background-color: #a3a3a3;
    color: white; }
    .bean-feature .active-slide .group-slide-tab .field-name-field-slide-icon {
      color: white; }
  .bean-feature .active-slide.slide-1 .group-slide-tab {
    background-color: #0035ad; }
  .bean-feature .active-slide.slide-1 .group-slide-cta {
    background-color: rgba(0, 53, 173, 0.8); }
  .bean-feature .active-slide.slide-2 .group-slide-tab {
    background-color: #fe9901; }
  .bean-feature .active-slide.slide-2 .group-slide-cta {
    background-color: rgba(254, 153, 1, 0.8); }
  .bean-feature .active-slide.slide-3 .group-slide-tab {
    background-color: #8dc63f; }
  .bean-feature .active-slide.slide-3 .group-slide-cta {
    background-color: rgba(141, 198, 63, 0.8); }
  .bean-feature .active-slide.slide-4 .group-slide-tab {
    background-color: #00aeef; }
  .bean-feature .active-slide.slide-4 .group-slide-cta {
    background-color: rgba(0, 179, 239, 0.8); }
  .bean-feature .group-slide-slide {
    display: none;
    left: 0px;
    position: absolute;
    top: 125px; }
    .bean-feature .group-slide-slide .group-slide-cta {
      background-color: rgba(100, 100, 100, 0.7);
      padding: 20px; }
      .bean-feature .group-slide-slide .group-slide-cta .field-name-field-slide-cta-title {
        font-size: 1.5em;
        line-height: 1.125em; }
      .bean-feature .group-slide-slide .group-slide-cta .field-name-field-slide-cta-copy {
        font-family: 'EB Garamond', serif;
        margin-bottom: 0.6em; }

/**
 * Jump pages
 */
/* First Section */
.node-jump-page .content .field-item-first .field-name-field-section-heading {
  margin-top: 1.8em; }

/**
 * Messages
 */
div.messages {
  background-color: #4ea5cd;
  background-image: none;
  border: none;
  color: #fff;
  margin: 0;
  display: none;
  padding: 1em;
  width: 100%;
  text-shadow: 1px 1px 0 #555555; }
  div.messages.success {
    background-color: #61b832; }
  div.messages.info {
    background-color: #4ea5cd; }
  div.messages.warning {
    background-color: #eaaf51; }
  div.messages.error {
    background-color: #de4343; }
  div.messages .hide-message {
    background-color: rgba(100, 100, 100, 0.5);
    cursor: pointer;
    display: block;
    float: right;
    padding: 0 4px;
    text-align: center;
    text-shadow: none;
    border: 1px solid rgba(100, 100, 100, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
    div.messages .hide-message:hover {
      background-color: rgba(100, 100, 100, 0.6); }
  div.messages a {
    color: #fff;
    text-decoration: underline; }
    div.messages a:hover {
      color: #d0d0d0; }
  div.messages .krumo-root {
    color: #222222;
    text-shadow: 0px 0px 0px black; }
    div.messages .krumo-root a {
      color: #000; }

/**
 * Testimonials
 */
.bean-testimonial {
  text-align: center; }
  .bean-testimonial img {
    margin: auto; }

/**
 * overrides
 */
.front h1,
.front #navigation-secondary .secondary-links {
  display: none; }

.node-unpublished:before {
  content: 'UNPUBLISHED'; }

/**
 * Views grouping limit + Views responsive grid overrides
 */
.views-grouping-limit-responsive:first-child h2 {
  margin-top: 0; }
.views-grouping-limit-responsive h2 {
  padding-top: 0.3em; }

/**
 * Artucle full overrides
 */
.node-in-the-news-item.node-full .field-name-field-show-published-date {
  text-align: center;
  margin-bottom: -1.8em;
  margin-top: 2em; }
