/**
 * @file theme rules
 */
/**
 * Icon fonts as fields
 */
.field-type-fonticon-field {
  background-color: #fff;
  font-size: 2.6em;
  height: 1.8em;
  line-height: 1.8em;
  margin: auto;
  text-align: center;
  width: 1.8em;
  -webkit-border-radius: 2.6em;
  -moz-border-radius: 2.6em;
  border-radius: 2.6em; }

.field-name-field-header-icon {
  left: 50%;
  margin-left: -0.9em;
  position: absolute;
  top: 0px;
  top: -0.9em; }

/**
 * Top Links
 */
ul.menu.sf-menu-top-links li {
  padding: 0 10px; }
  ul.menu.sf-menu-top-links li a.active {
    color: #d0d0d0; }
ul.menu.sf-menu-top-links ul {
  padding: 0 0 8px;
  background-color: #222222; }
  ul.menu.sf-menu-top-links ul li {
    margin: 4px 0; }

/**
 * Navigation Main
 */
#logo-container {
  display: block;
  float: left;
  font-size: 0;
  height: 100%;
  margin-right: 40px;
  width: 25%; }
  #logo-container img#logo {
    width: 100%; }

/**
 * Primary Links
 */
#navigation-primary .navigation-primary-inner {
  height: 94px;
  overflow: hidden;
  /* Drop down */ }
  #navigation-primary .navigation-primary-inner ul.main-menu {
    display: block;
    margin-top: 25px;
    z-index: 5; }
    #navigation-primary .navigation-primary-inner ul.main-menu li a {
      padding: 9px 3.2%;
      white-space: nowrap;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px; }
      #navigation-primary .navigation-primary-inner ul.main-menu li a:hover {
        color: #d0d0d0; }
      #navigation-primary .navigation-primary-inner ul.main-menu li a.active {
        background-color: #0035ad; }
        #navigation-primary .navigation-primary-inner ul.main-menu li a.active:hover {
          color: white; }
    #navigation-primary .navigation-primary-inner ul.main-menu li.active-trail a {
      background-color: #0035ad; }
    #navigation-primary .navigation-primary-inner ul.main-menu li ul {
      display: none; }
  #navigation-primary .navigation-primary-inner #block-system-main-menu {
    background-color: #303030;
    float: left;
    padding-bottom: 8px;
    position: relative;
    z-index: 5; }
  #navigation-primary .navigation-primary-inner .main-drop-down {
    background-color: #303030;
    display: none;
    left: 0px;
    position: absolute;
    top: 146px;
    width: 100%;
    z-index: 10;
    -moz-box-shadow: 0px 9px 10px #222222;
    -webkit-box-shadow: 0px 9px 10px #222222;
    box-shadow: 0px 9px 10px #222222; }
    #navigation-primary .navigation-primary-inner .main-drop-down ul li a {
      clear: both;
      display: block;
      float: none; }
  #navigation-primary .navigation-primary-inner #main-drop-down-toggle {
    display: block;
    font-size: 40px;
    left: 360px;
    position: absolute;
    top: 84px;
    z-index: 1; }

/**
 * Secondary Links
 */
#navigation-secondary ul.main-menu {
  display: block;
  margin: -6px 0 36px; }
  #navigation-secondary ul.main-menu li {
    padding: 0 1.7em; }
    #navigation-secondary ul.main-menu li a {
      color: #222222; }
      #navigation-secondary ul.main-menu li a.active, #navigation-secondary ul.main-menu li a:hover {
        color: #0035ad; }

/**
 * Bottom Links
 */
#block-menu-menu-bottom-links {
  padding: 20px 0 40px 40px; }
  #block-menu-menu-bottom-links ul li {
    display: block;
    float: left;
    width: 267.44186px; }
    #block-menu-menu-bottom-links ul li > ul {
      padding: 10px 0 0; }
      #block-menu-menu-bottom-links ul li > ul li {
        display: list-item;
        float: none;
        list-style-type: none;
        list-style-image: none;
        margin-left: 0; }
        #block-menu-menu-bottom-links ul li > ul li a {
          color: #a3a3a3; }
          #block-menu-menu-bottom-links ul li > ul li a:hover {
            color: white; }

/** aligned captions **/
div.caption-left {
  float: left;
  margin: 10px 20px 10px 0; }

div.caption-right {
  float: right;
  margin: 10px 0 10px 20px; }

div.caption-center {
  display: block;
  text-align: center; }

div.caption-center .caption-inner {
  display: inline-block; }

/**
 * Features
 */
.bean-feature {
  height: 625px;
  position: relative; }
  .bean-feature .group-slide-tab {
    left: 0px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0px; }
  .bean-feature .group-slide-slide {
    display: none;
    left: 0px;
    position: absolute;
    top: 125px; }
