// /**
//  * Global Variables
//  */

$base: 1.125em; // All other font sizes are based on this. 1em = 18px
$medium-small: 0.833em; // 15px
$small: 0.722em; // 13px

// Widths
$width: 1150;
$percentage-850: ((850 / $width) * 100%);
$percentage-410: ((410/ $width) * 100%);
$percentage-150: ((150 / $width) * 100%);
$col-width-2-col: ((410 / 850) * 100%);

// Colors
$tan-light: #fbf6f2;
$white: #fff;
$gray-light: #d0d0d0;
$gray-dark: #555;
$gray: #a3a3a3;
$blue: #0035ad;
$black-22: #222;
$black-30: #303030;
$green: #8dc63f;
$green-darker: #6db027;