/**
 * @file base.scss
 */
@import "vars";
@import "mixins";

* {
  @include border-box-model;
}
html {
  font-family: 'EB Garamond', serif;
  font-size: $base; // 1em: 1.125em = 18px
  height: 100%;
  line-height: 1.4em;
  margin: 0;
}
::selection {
  background-color: $gray-dark;
  color: $gray-light;
}
::-moz-selection {
  background-color: $gray-dark;
  color: $gray-light;
}

/* modern browser clearfix */
.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/* links */
a:link,
a:visited {
  color: $blue;
  text-decoration: none;
}
a:hover,
a:active {
  color: $blue;
  text-decoration: none;
}

/* default image treatment */
img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* lists */
ul, ol, ul.primary,
ul li, ol li {
  margin: 0;
  padding: 0;
}

/* Blockquotes */
blockquote {
  border: 1px solid $gray-light;
  border-width: 1px 0;
  font-size: 1.3em;
  margin: 1.3em 0;
  padding: 0.3em 1.3em;
  text-align: center;
  p {
    &:last-child {
    }
  }
}

/* Headings */
.caption,
blockquote,
.heading {font-family: 'Oxygen', sans-serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  line-height: 1.3em;
}
h1 {font-size: 1.6em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.3em;}
h4 {font-size: 1em;}
h5 {font-size: 0.9em;}
h6 {font-size: 0.7em;}

h2 {
  font-weight: 100;
  text-align: center;
}

.font-light {font-weight: 100;}
.font-normal {font-weight: 400;}
.font-heavy {font-weight: 900;}

/* paragraphs */
p {margin: 1em 0;}

/**
 * Tables
 */
table {
  margin: 20px 0;
  thead {
    th {
      font-weight: normal;
      padding: .3em 0;
    }
  }
  width: 100%;
  tbody {
    border-top: none;
    tr.even,
    tr.odd {
      background-color: transparent;
      font-weight: bold;
      padding: 0;
      &:hover {
        background-color: #fcfcfc;
      }
      td {
        padding: .425em 2em .425em 0;
      }
    }
  }
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {display: none;}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user. Must
 * not be used for focusable elements (such as links and form elements) as this
 * causes issues for keyboard only or voice recognition users.
 */
.element-invisible {
  height: 0;
  overflow: hidden;
  position: absolute;
}

/**
 * Floats and percentages
 */
.f-left {float: left;}
.f-right {float: right;}
.f-none {float: none;}

.p-70 {width: 70%;}
.p-30 {width: 30%;}

.inline {display: inline-block;}

.h-100 {height: 100%;}

.table {display: table; width: 100%}
.table-cell {display: table-cell;}

/**
 * Misc
 */
.center,
.center-contents {
  text-align: center;
}
.align-left {
  text-align: left;
}

.all-caps {
  text-transform: uppercase;
}
.normal-case {
  text-transform: none;
}
.no-wrap {
  white-space: nowrap;
}

/**
 * Relative sizes
 */
.font-small {
  font-size: $small;
}
.font-normal {
  font-size: $base;
}
.font-large-27 {
  font-size: $large-27;
  line-height: ($large-27 + 0.5em);
}
.line-height-triple {
  line-height: 3em;
}

/**
 * Color Schemes
 */
.reverse-contrast {
  background-color: $black-22;
  color: $gray-light;
  a {
    color: $gray-light;
  }
  &.reverse-contrast-lighter {
    background-color: $black-30;
    color: $white;
    a {
      color: $white;
    }
  }
}
.background-green {
  background-color: $green;
}
.background-green-darker {
  background-color: $green-darker;
}
.font-white {
  color: $white;
  a {
    color: $white;
  }
}
.border-green,
.button.border-green {
  border-color: $green-darkest;
}

/**
 * Vertical center
 */
.vc-outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}
.vc-inner {
  display: table-cell;
  vertical-align: middle;
}
