@font-face {
  font-family: 'citizens-pack';
  src:url('/sites/all/libraries/iconfonts/citizens-pack/citizens-pack.eot');
  src:url('/sites/all/libraries/iconfonts/citizens-pack/citizens-pack.eot?#iefix') format('embedded-opentype'),
    url('/sites/all/libraries/iconfonts/citizens-pack/citizens-pack.ttf') format('truetype'),
    url('/sites/all/libraries/iconfonts/citizens-pack/citizens-pack.woff') format('woff'),
    url('/sites/all/libraries/iconfonts/citizens-pack/citizens-pack.svg#citizens-pack') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
    font-family: 'citizens-pack';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

[class^="fonticon"], [class*=" fonticon"],
[class^="icon-"], [class*=" icon-"] {
  font-family: 'citizens-pack';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  //line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-why_citizens:before {
  content: "\61";
}
.icon-what_we_do:before {
  content: "\62";
}
.icon-video_audio:before {
  content: "\63";
}
.icon-team_citizens:before {
  content: "\64";
}
.icon-speeches:before {
  content: "\65";
}
.icon-solar_homes:before {
  content: "\66";
}
.icon-shelter_gas:before {
  content: "\67";
}
.icon-press_releases:before {
  content: "\68";
}
.icon-op_eds:before {
  content: "\69";
}
.icon-joe_for_oil:before {
  content: "\6a";
}
.icon-in_the_news:before {
  content: "\6b";
}
.icon-heating_assistance:before {
  content: "\6c";
}
.icon-distrigas:before {
  content: "\6d";
}
.icon-corporate_history:before {
  content: "\6e";
}
.icon-completed_initiatives:before {
  content: "\6f";
}
.icon-citizens_wind:before {
  content: "\70";
}
.icon-citizens_transmission:before {
  content: "\71";
}
.icon-citizens_solar:before {
  content: "\72";
}
.icon-business_initiatives:before {
  content: "\73";
}
.icon-assistance_programs:before {
  content: "\74";
}
.icon-articles:before {
  content: "\75";
}
.icon-play:before {
  content: "\76";
}
.icon-menu:before {
  content: "\77";
}
.icon-connection:before {
  content: "\78";
}
.icon-contact_us:before {
  content: "\79";
}
.icon-consumer_resources:before {
  content: "\7a";
}
.icon-about_citizens:before {
  content: "\7b";
}
.icon-arrow-down:before {
  content: "\7c";
}
.icon-feed:before {
  content: "\7d";
}