/**
 * @file layout
 */
@import 'vars';
@import 'mixins';

#page {
  margin: 0 auto;
  max-width: 1150px;
  min-width: 430px;
  position: relative;
}
#menu-callback {
  position: relative;
}

.default-padding {
  padding: 20px $percentage-150;
  width: 100%;
  #header & {
    padding: 20px;
  }
  #navigation-primary & {
    padding: 0px 20px;
  }
}
.padding-tb {
  padding: 20px 0;
}
.padding-tb-small {
  padding: 10px 0;
}
.padding-tb-large {
  padding: 40px 0;
}
.padding-all {
  padding: 20px;
}
.padding-bottom {
  padding-bottom: 20px;
}
.padding-bottom-large {
  padding-bottom: 40px;
}
.margin-bottom {
  margin-bottom: 20px;
}
.margin-all {
  margin: 20px;
}
.margin-auto {
  margin: auto;
}
.margin-right {
  margin-right: 20px;
}
.margin-yb {
  margin: 20px 0;
}
.margin-negative-bottom {
  margin-bottom: -0.8em;
}

.display-block {
  display: block;
}

.col-2-grid-outer {
  .field-item {
    margin: 10px 0;
    width: $col-width-2-col;
    &:nth-child(odd) {
      clear: left;
      float: left;
    }
    &:nth-child(even) {
      clear: right;
      float: right;
    }
  }
}

/**
 * wanderers. These are elements that take up the right half of their parent on
 * desktop and then slowly wander up and to the left for smaller screen sizes.
 */
.wanderer-outer {
  position: relative;
  .wanderer {
    position: absolute;
    right: 5%;
    top: 30%;
    width: 45%;
    @include transition-all(1);
  }
}

/**
 * Floats and percentages
 */
.f-left {float: left;}
.f-right {float: right;}
.f-none {float: none;}

.p-70 {width: 70%;}
.p-30 {width: 30%;}

.inline {display: inline-block;}

.h-100 {height: 100%;}

.table {display: table; width: 100%}
.table-cell {display: table-cell;}

/**
 * 3 & 4 Column Stuff
 */
.divide-2 {
  @include clearfix;
  .divide {
    float: left;
    padding: 0 1%;
    width: percentage((($width - 130) / 2) / ($width - 130));
  }
}
.divide-3 {
  padding: 0 percentage(65 / $width);
  @include clearfix;
  .divide {
    float: left;
    padding: 0 1%;
    width: percentage((($width - 130) / 3) / ($width - 130));
  }
}
.divide-4 {
  padding: 0 percentage(65 / $width);
  @include clearfix;
  .divide {
    float: left;
    padding: 0 1%;
    width: percentage((($width - 130) / 4) / ($width - 130));
  }
}

/**
 * Jump menu position
 */
.region-jump-menu {
  padding-top: 66px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: auto;
}

/**
 * Webforms
 */
.node-webform {
  padding: 20px $percentage-250 20px;
}