/**
 * @file layout
 */
@import 'vars';

#page {
  margin: 0 auto;
  max-width: 1150px;
  min-width: 430px;
  position: relative;
}

.default-padding {
  padding: 20px $percentage-150;
  width: 100%;
  #header & {
    padding: 20px;
  }
  #navigation-primary & {
    padding: 10px 20px;
  }
}
.padding-tb {
  padding: 20px 0;
}
.padding-all {
  padding: 20px;
}

.col-2-grid-outer {
  .field-item {
    margin: 10px 0;
    width: $col-width-2-col;
    &:nth-child(odd) {
      clear: left;
      float: left;
    }
    &:nth-child(even) {
      clear: right;
      float: right;
    }
  }
}