/**
 * @file module definitions
 */

@import "vars";
@import "mixins";

.zebra {
  &:nth-child(odd) {
    background-color: $tan-light;
  }
  &:nth-child(even) {
    background-color: $white;
  }
}

/**
 * Buttons
 */
 a.button,
.button {
  background-color: #fff;
  border-width: 4px;
  border-style: solid;
  border-color: $black-30;
  border-radius: 4px;
  border-width: 0 2px 3px 0;
  color: $black-30;
  display: inline-block;
  font-size: $medium-small;
  padding: 15px 26px;
  &:hover {
    border-width: 1px 1px 2px 1px;
  }
  &:active {
    border-width: 3px 0px 0px 2px;
  }
}

/**
 * Inline images
 */
.content-image {
  clear: left;
  padding: 0 20px 5px 0;
  @include content-box-model;
  .caption-inner & {
    padding-right: 0;
  }
}
.caption .caption-inner {
  background-color: $gray-dark;
  border: none;
  color: $white;
  font-weight: 100;
  padding: 0 0 6px;
}

/* Rollover edit links for blocks. */
.block {
  position: relative;
  .edit {
    display: none;
    position: absolute;
    right: -20px;
    top: -5px;
    z-index: 40;
    padding: 3px 8px 0;
    font-size: 10px;
    line-height: 16px;
    background-color: white;
    border: 1px solid $gray-dark;
    @include rounded-all(3px);
    @include box-shadow(0, 1px, 3px, $gray-dark);
    a {
      display: block;
      border: 0;
      padding: 0;
      margin: 0;
    }
  }
  :hover .edit {
    display: block;
  }
}

/**
 * Admin
 */
/* Tabs */
ul.tabs {
  border: 0;
  position: absolute;
  li {
    a {
      background-color: transparent;
      border: 0;
      padding-bottom: 4px;
    }
    &.active {
      a {
        background-color: $black-30;
        border: 0;
        color: $white;
      }
    }
  }
}