/**
 * @file module definitions
 */

@import "vars";
@import "mixins";

.zebra {
  &:nth-child(odd) {
    background-color: $tan-light;
    &.reverse-zebra {
      background-color: $white;
    }
  }
  &:nth-child(even) {
    background-color: $white;
    &.reverse-zebra {
      background-color: $tan-light;
    }
  }
}
.field-name-field-included-blocks-below {
  .views-row {
    padding: 20px $percentage-150;
    &.views-row-even {
      background-color: $tan-light;
    }
  }
}

/**
 * Buttons
 */
 a.button,
.button {
  background-color: #fff;
  border-width: 4px;
  border-style: solid;
  border-color: $black-30;
  border-radius: 4px;
  border-width: 0 2px 3px 0;
  color: $black-30;
  display: inline-block;
  font-size: $medium-small;
  padding: 0.6em 26px;
  text-transform: uppercase;
  &:hover {
    border-width: 1px 1px 2px 1px;
  }
  &:active {
    border-width: 3px 0px 0px 2px;
  }
  &.center-blue-button {
    background-color: $blue1;
    color: $white;
    margin: 20px auto;
  }
}


/**
 * Inline images
 */
.content-image {
  clear: left;
  padding: 0 20px 5px 0;
  @include content-box-model;
  .caption-inner & {
    padding-right: 0;
  }
}
.caption .caption-inner {
  background-color: $gray-dark;
  border: none;
  color: $white;
  font-weight: 100;
  padding: 0 0 6px;
}

/* Rollover edit links for blocks. */
.block {
  position: relative;
  .edit {
    display: none;
    position: absolute;
    right: -20px;
    top: -5px;
    z-index: 40;
    padding: 3px 8px 0;
    font-size: 10px;
    line-height: 16px;
    background-color: white;
    border: 1px solid $gray-dark;
    @include rounded-all(3px);
    @include box-shadow(0, 1px, 3px, $gray-dark);
    a {
      display: block;
      border: 0;
      padding: 0;
      margin: 0;
    }
  }
  :hover .edit {
    display: block;
  }
}

/**
 * Tri-color
 * Since there's no way to do this with CSS, we just make them all blue while
 * we wait for the JS to recolor them
 */
.tri-color-outer {
  .tri-color {
    color: $blue1;
  }
}

/**
 * Admin
 */
/* Tabs */
ul.tabs {
  border: 0;
  position: absolute;
  li {
    a {
      background-color: transparent;
      border: 0;
      padding-bottom: 4px;
    }
    &.active {
      a {
        background-color: $black-30;
        border: 0;
        color: $white;
      }
    }
  }
}

/**
 * Vertical center
 */
.vc-outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}
.vc-inner {
  display: table-cell;
  vertical-align: middle;
}

/**
 * Jump menu region
 */
.region-jump-menu {
  h3 {
    background-color: $black-30;
    color: $white;
    cursor: pointer;
    line-height: 1em;
    margin: 0;
    position: absolute;
    right: 0px;
    top: -24px;
    @include rounded(bottom, left, 3px);
    @include rounded(bottom, right, 3px);
    @include rotate-2d(180);
    &.rotate-0 {
      @include rotate-2d(0);
      @include rounded(top, left, 3px);
      @include rounded(top, right, 3px);
    }
  }
  ul {
    @include rounded(bottom, left, 3px);
    @include rounded(bottom, right, 3px);
    @include rounded(top, left, 3px);
    li {
      a {
        display: block;
        padding: 6px 20px;
        &:hover {
          background-color: $blue1;
        }
        &:first-child {
          @include rounded(top, left, 3px);
        }
        &:last-child {
          @include rounded(bottom, left, 3px);
          @include rounded(bottom, right, 3px);
        }
      }
    }
    &.jm-open {
      display: block;
    }
    &.jm-close {
      display: none;
    }
  }
}