/**
 * @file state rules
 */

@import "vars";
@import "mixins";

/**
 * Main menu
 */
#navigation-primary .navigation-primary-inner {
  @media (max-width: 1149px) and (min-width: 768px) {
    ul.main-menu {
      display: block;
      margin-top: 25px;
      z-index: 5;
      li {
        a {
          font-size: $small;
          padding: 9px 2.4%;
        }
      }
    }
  }
  @media (max-width: 767px) {
    #logo-container {
      width: 298px;
    }
  }
  @media (max-width: 1149px) and (min-width: 950px) {
    ul.main-menu {
      li {
        a {
          font-size: 11px;
        }
      }
    }
  }
}

/**
 * Secondary menu
 */
#navigation-secondary {
  @media (max-width: 767px) {
    ul.main-menu {
      display: block;
      margin: -6px 0 36px;
      li {
        clear: both;
        display: block;
        padding: 0;
      }
    }
  }
}