/**
 * @file theme rules
 */

@import "vars";
@import "mixins";

/**
 * Icon fonts as fields
 */
.field-type-fonticon-field {
  background-color: $white;
  font-size: 2.6em;
  height: 1.8em;
  line-height: 1.8em;
  margin: auto;
  text-align: center;
  width: 1.8em;
  @include rounded-all(2.6em);
}
.field-name-field-header-icon {
  @include absolute-center(1.8em);
  top: -0.9em;
}
.header-with-icon {
  margin-top: 36px;
  position: relative;
}

/* Jump page context */
.field-name-field-section-list-icon {
  margin-bottom: -0.9em;
  .field-item {
    background-color: $white;
    position: relative;
    @include rounded-all(2.6em);
  }
}

/**
 * Top Links
 */
ul.menu.sf-menu-top-links {
  li {
    padding: 0 10px;
    a {
      &.active {
        color: $gray-light;
      }
    }
  }
  ul {
    padding: 0 0 8px;
    background-color: $black-22;
    li {
      margin: 4px 0;
    }
  }
}

/**
 * Navigation Main
 */
#logo-container {
  display: block;
  float: left;
  font-size: 0;
  height: 100%;
  margin-right: 40px;
  width: 25%;
  img#logo {
    width: 100%;
  }
}

/**
 * Primary Links
 */
#navigation-primary .navigation-primary-inner {
  height: 94px;
  overflow: hidden;
  ul.main-menu {
    display: block;
    margin-top: 25px;
    z-index: 5;
    li {
      a {
        padding: 9px 3%;
        white-space: nowrap;
        @include rounded-all(4px);
        &:hover {
          color: $gray-light;
        }
        &.active {
          background-color: $blue;
          &:hover {
            color: $white;
          }
        }
      }
      &.active-trail {
        a {
          background-color: $blue;
        }
      }
      ul {
        display: none;
      }
    }
  }
  #block-system-main-menu {
    background-color: $black-30;
    float: left;
    padding-bottom: 8px;
    position: relative;
    z-index: 5;
  }

  /* Drop down */
  .main-drop-down {
    background-color: $black-30;
    display: none;
    left: 0px;
    position: absolute;
    top: 146px;
    width: 100%;
    z-index: 10;
    @include box-shadow(0px, 9px, 10px, #222);
    ul {
      li {
        a {
          clear: both;
          display: block;
          float: none;
        }
      }
    }
  }
  #main-drop-down-toggle {
    display: block;
    font-size: 40px;
    left: 360px;
    position: absolute;
    top: 84px;
    z-index: 1;
  }
}

/**
 * Secondary Links
 */
#navigation-secondary {
  .secondary-links {
    min-height: 25px;
    margin: -6px 0 0;
    ul.main-menu {
      display: block;
      li {
        padding: 0 1.7em;
        a {
          color: $black-22;
          &.active,
          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
}

/**
 * Bottom Links
 */
#block-menu-menu-bottom-links {
  padding: 20px 0 40px 40px;
  ul {
    li {
      display: block;
      float: left;
      width: ($width / 4.3) + px;
      > ul {
        padding: 10px 0 0;
        li {
          display: list-item;
          float: none;
          list-style-type: none;
          list-style-image: none;
          margin-left: 0;
          a {
            color: $gray;
            &:hover {
              color: $white;
            }
          }
        }
      }
    }
  }
}

/** aligned captions **/
div.caption-left {
  float: left;
  margin: 10px 20px 10px 0;
}

div.caption-right {
  float: right;
  margin: 10px 0 10px 20px;
}

div.caption-center {
  display: block;
  text-align: center;
}

div.caption-center .caption-inner {
  display: inline-block;
}

/**
 * Features
 */
.bean-feature {
  height: 625px;
  position: relative;
  .group-slide-tab {
    cursor: pointer;
    left: 0px;
    height: 125px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0px;
    .field-type-fonticon-field {
      background-color: transparent;
    }
  }
  .slide-1 {
    .field-name-field-slide-icon {color: $blue1;}
  }
  .slide-2 {
    .field-name-field-slide-icon {color: $orange;}
  }
  .slide-3 {
    .field-name-field-slide-icon {color: $green;}
  }
  .slide-4 {
    .field-name-field-slide-icon {color: $blue2;}
  }
  .active-slide {
    .group-slide-tab {
      background-color: $gray;
      color: $white;
      .field-name-field-slide-icon {
        color: $white;
      }
    }
    &.slide-1 {
      .group-slide-tab {
        background-color: $blue1;
      }
      .group-slide-cta {
        background-color: $blue1-alpha-8;
      }
    }
    &.slide-2 {
      .group-slide-tab {
        background-color: $orange;
      }
      .group-slide-cta {
        background-color: $orange-alpha-8;
      }
    }
    &.slide-3 {
      .group-slide-tab {
        background-color: $green;
      }
      .group-slide-cta {
        background-color: $green-alpha-8;
      }
    }
    &.slide-4 {
      .group-slide-tab {
        background-color: $blue2;
      }
      .group-slide-cta {
        background-color: $blue2-alpha-8;
      }
    }
  }
  .group-slide-slide {
    display: none;
    left: 0px;
    position: absolute;
    top: 125px;
    .group-slide-cta {
      background-color: rgba(100, 100, 100, 0.7);
      padding: 20px;
      .field-name-field-slide-cta-title {
        font-size: $large-27;
        line-height: $base;
      }
      .field-name-field-slide-cta-copy {
        font-family: 'EB Garamond', serif;
      }
    }
  }
}

/**
 * Jump pages
 */
/* First Section */
.node-jump-page .content  .field-item-first .field-name-field-section-heading {
  margin-top: 1.8em;
}

/**
 * Messages
 */
div.messages {
  background-color: #4ea5cd;
  background-image: none;
  border: none;
  color: #fff;
  margin: 0;
  display: none;
  padding: 1em;
  width: 100%;
  @include text-shadow();
  &.success {background-color: #61b832;}
  &.info {background-color: #4ea5cd;}
  &.warning {background-color: #eaaf51;}
  &.error {background-color: #de4343;}
  .hide-message {
    background-color: rgba(100, 100, 100, 0.5);
    cursor: pointer;
    display: block;
    float: right;
    padding: 0 4px;
    text-align: center;
    text-shadow: none;
    @include solid-border(1px, rgba(100, 100, 100, 0.2));
    @include rounded-all(4px);
    &:hover {
      background-color: rgba(100, 100, 100, 0.6);
    }
  }
  a {
    color: #fff;
    text-decoration: underline;
    &:hover {
      color: $gray-light;
    }
  }
  .krumo-root {
    color: $black-22;
    @include text-shadow(0px, 0px, 0px, #000);
    a {
      color: #000;
    }
  }
}

/**
 * Testimonials
 */
.bean-testimonial {
  text-align: center;
  img {
    margin: auto;
  }
}

/**
 * overrides
 */
.front h1,
.front #navigation-secondary .secondary-links {display: none;}






